<aside>
  <nav>
    <ul>
      <li>
        <%= link_to "All Concerts", concerts_path %>
      </li>
      <li>
        <%= link_to "Add New Concert", new_concert_path %>
      </li>
    </ul>
  </nav>
</aside>